services:
  mkdocs:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mkdocs_server
    ports:
      - "8000:8000"
    volumes:
      - .:/docs
    command: ["mkdocs", "serve", "--dev-addr=0.0.0.0:8000", "--livereload"]
    restart: unless-stopped